body {
  background-image: url(../assets/img/FONDO.jpg);
  background-size: cover;
  color: whitesmoke; }

ul li {
  list-style: none; }

.box-img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  object-fit: contain; }

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 20px; }

.box-mi {
  width: 500px;
  background-color: rgba(8, 45, 11, 0.547);
  margin: 0 auto;
  margin-top: 3%;
  text-align: center; }

.form-contact {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  width: 100px;
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-60%, 10%); }
